################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/E2EProjectAboutcurd/bin/Debug/net8.0
/Backend/.vs/E2EProjectAboutcurd/FileContentIndex
/Backend/E2EProjectAboutcurd/obj
