<!-- src/app/components/signup/signup.component.html -->
<div class="signup-container">
  <div class="signup-box">
    <h2>Signup</h2>
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      [(ngModel)]="username"
      placeholder="Enter your username"
    />

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      placeholder="Enter your password"
    />

    <button (click)="signup()">Signup</button>
    <p>{{ message }}</p>
  </div>
</div>
